.Resume__Container {
  display: flex;
  min-height: 100vh;
}

.Avatar__Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.Contact__Element {
  display: flex;
  align-items: center;
}

.Avatar {
  height: 200px;
  min-width: 200px;
  border-radius: 50%;
  border: 1px solid white;
}
.LeftTab__Container {
  background-color: #095091;
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* animation: fade-in;
  animation-duration: 2s; */
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Skills__Container {
  color: white;
  border-radius: 0.66rem;
  min-width: 92%;
}
.RightTab__Container {
  flex: 2;
  background-color: #e9e9e9;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 0ms;
  animation-timing-function: ease;
}
.Name__Container {
  text-align: center;
  color: #ffffff;
  margin: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.Card__Title {
  font-weight: 500;
  font-size: larger;
  margin-bottom: 5px;
  letter-spacing: 3px;
  color: #00b4d8;
}
.Card__Element {
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ContactInfo,
.Education__Container {
  text-align: center;
  padding: 10px;
}
.Education__Container {
  margin-top: 15px;
}
.ContactInfo > p,
.Education__Container > p {
  text-align: left;
}
.ContactInfo > p {
  display: flex;
  align-items: center;
}
.Experience__List > li {
  list-style-type: none;
  margin-top: 10px;
}

.Experience__Container {
  padding: 20px;
  border-radius: 0.66rem;
  margin: 10px;
}
.Mission__Container {
  padding: 20px;
  margin: 10px;
}
.Mission__Statement {
  margin-top: 10px;
  border-radius: 0.66rem;
  padding: 10px 0px 10px;
}
.ContactInfo__Container {
  color: white;
  margin: 10px;
  border-radius: 0.66rem;
}
.Experience {
  display: flex;
  padding: 10px 0px 10px;
  border-radius: 0.66rem;
  margin-top: 10px;
  margin-bottom: 30px;
}
@keyframes slide {
  0% {
    margin-left: 100px;
  }
  100% {
    margin-left: 0px;
  }
}
.Experience > div {
  flex: 1;
}

.Label__Text {
  font-family: "Montserrat";
  letter-spacing: 3px;
  font-weight: 500;
  color: #545454;
}
.Date__Text {
  font-size: large;
  font-style: italic;
  align-items: center;
}
.CalendarIcon {
  margin-right: 4px;
}
.Company__Text {
  font-size: large;
  font-style: italic;
  max-width: 50%;
}
.RiskLens__Logo {
  max-width: 13%;
  border-radius: 50%;
  margin-left: -5px;
}
.UIUC__Logo {
  max-width: 6%;
  border-radius: 50%;
  margin-left: -5px;
}
.Degree__Logo {
  font-size: large;
  margin-right: 5px;
}
.Company__Logo {
  max-width: 10%;
  border-radius: 50%;
  margin-right: 2px;
}
.Position__Text {
  font-weight: 500;
  font-size: medium;
  align-items: center;
  /* max-width: 100%; */
  text-transform: uppercase;
  letter-spacing: 2px;
}
.Experience__List {
  font-size: small;
  font-family: "Open Sans";
}
.Experience__Left > span,
.Experience__Right > span {
  border: none;
  padding: 0;
  display: flex;
}
.Experience__Left {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 0.66em;
  background-color: #d9d9d9;
}
/* .Name__Container::after {
  background-color: white;
  height: 1px;
  content: "";
  position: absolute;
  width: 18%;
  left: 1%;
  top: 53%;
} */
.Experience__Right::before {
  background-color: white;
  height: 1px;
  content: "";
  position: absolute;
  width: 31%;
  left: 1%;
  top: 58%;
}
.Progress__Bar {
  background-color: white;
  height: 10px;
  margin-left: 2px;
  display: inline-block;
  width: 50%;
  border-radius: 0.66rem;
}
.ProgressBar__Inner {
  width: 90%;
  background-color: #00abff;
  border-radius: 0.66rem;
  height: 10px;
  /* animation-name: progress-bar;
  animation-duration: 2s; */
  transition-property: width;
  transition-duration: 2s;
}
@keyframes progress-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.Experience__Right {
  /* padding: 10px 20px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 0.66rem;
  background-color: #d9d9d9; */
  padding: 10px;
  border-left: 3px solid #00abff;
}
